<!DOCTYPE html>
<html>
  <head>
    <title>Mesmereyes</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div id="content">
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}
      <nav>
        <a href="/">Home</a>
        <div>
          <a href="/playists">playlists</a>
          <a href="/interactivities">interActivities</a>
        </div>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
