{% extends 'base.html' %} {% block content %}

<h1>{{ interactivity.title }}</h1>

<p><iframe
        title="{{ interactivity.title }}"
        src="{{ interactivity.url }}"
        width="100%"
        height="100%"
      ></p>

<p><strong>cc_attribution:</strong> {{ interactivity.cc_attribution }}</p>

<p><strong>Visual Complexity:</strong> {{ interactivity.visual_complexity }}</p>

<p><strong>Visual Contrast:</strong> {{ interactivity.visual_contrast }}</p>

 {% endblock %}

 <!-- to add button to add to playlist -->
<!-- <form
  method="POST"
  action="{{ url_for('main.add_to_playlist', interactivity_id=interactivity.id) }}"
>
  <input type="submit" value="Add to playlist" />
</form> -->