{% extends 'base.html' %} {% block content %}
<h1>{{ playlist.name }}</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for doodle in playlist.doodles %}
    <tr>
      <td><a href="/doodle/{{ doodle.id }}">{{ doodle.title }}</a></td>
      <td>
        <form
          action="{{ url_for('main.delete_doodle_from_playlist', playlist_id=playlist.id, doodle_id=doodle.id) }}"
          method="POST"
        >
          <button type="submit">-</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
